<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post - {{title}}</title>
  <link rel="stylesheet" type = "text/css" href="/css/post.css">
  <link rel="stylesheet" type = "text/css" href="/css/global.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
  <a href="/">Back to Home</a>
  <a href="/update/{{id}}">Update Post</a>
  <a href="/delete/{{id}}">Delete Post</a>
  <div class="flexbox">
    <div class="postContainer">
      <div class="title">{{title}}</div>
      <div class="author">Created by: {{author}}</div>
      <div class="date">Created on: {{date}}</div>
      <div class="content">{{content}}</div>
    </div>
  </div>

</body>
</html>